<!DOCTYPE html>
<html>
<head>
  <title>TreeCut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <%= render '/layouts/partials/master_header.html.erb' %>
        <div class="container">
            <div class="row">
                <%= render '/layouts/partials/header.html.erb' %>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <%= render '/layouts/partials/left_navigation.html.erb' %>
                </div>
                <div class="col-md-9">
                    <%= yield %>
                </div>
            </div>

            <div class="row" id="teaser">
                <%= render '/layouts/partials/teaser.html.erb' %>
            </div>
            <div class="row">
                <%= render '/layouts/partials/footer.html.erb' %>
            </div>
        </div>
	</div>
</body>
</html>
